body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.wrapper {
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  text-align: center;
  height: 600px;
  border: 5px solid #404040;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 20px;
  font-size: 30px;
}


.before_click{
  margin-top: 180px;
}


.after_click{
  margin-top: 10px 0;
}
p {
  margin: 5px 0;
}
#subtitle{
  margin-bottom: 50px;
}


.progress {
  width: 100%;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 15px;  
  text-align: center;
  margin-bottom: 50px;

}
.progress-bar {
  height: 20px;
  width: 0;
  background-color: #28a745;
  transition: width 0.1s;
  display: none;
}


.user__content{
  display: none;
}

button {
  margin-top: 15px;
  padding: 5px 15px;
  border: 5px solid #404040;
  border-radius: 15px;
  cursor: pointer;
  font-size: 30px;
  margin-bottom: 200px;
}